*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:focus,
button:focus {
  outline: 2px dotted #73767a;
}

body {
  font-family: sans-serif;
  background-color: #25292E;
}